$color-remotely-primary  : #e5544c;
$color-remotely-accent   : #59c8e0;

$color-remotely-green  : #8fc96e;
$color-remotely-orange  : #e47d25;

$color-remotely-gray     : #D4DBDE;


// typography

h1, %h1 {
  font-family: $helvetica;
}
h2, %h2 {
  font-family: $helvetica;
}
h3, %h3 {
  font-family: $helvetica;
}
h4, %h4 {
  font-family: $helvetica;
}
h5, %h5 {
  font-family: $helvetica;
}
h6, %h6 {
  font-family: $helvetica;
  color: tint(#000, 50%);
}

a {
  // color: shade($color-remotely-accent, 5%);
  color: $color-remotely-accent;

  &:hover {
    // color: tint($color-remotely-accent, 10%);
    color: #7fd1e5;

  }
}

#user-dd.button a {
  @extend a;
}
