// global styles
// ====

.radius {
  border-radius: 3px;
}

.button {
  box-shadow: none;
}

.orange {
  color: $color-remotely-orange;
}

.blue {
  color: $color-remotely-accent;
}

.red {
  color: #d51a21;
  font-weight: bold;
}

ul.breadcrumbs {
  padding-left: 3px;
}

form.custom span.custom.radio.checked:before {
  background: shade($color-remotely-accent, 10%);
  box-shadow: none;
}

.button.primary {
  font-weight: normal;
  text-shadow: none;
  background: $color-remotely-accent;

  border-color: shade($color-remotely-accent, 10%);

  &:hover {
    background: shade($color-remotely-accent, 5%);
    background: #22bfe6;
  }
}

.button.secondary {
  background: whitesmoke;

}

.has-flyout {
  display: none;
}

// body styles
// ====

body {
  // background: #FFF;
  //
}

#page-header {
  background: none;
}

#page-wrapper {
  background: none;
  box-shadow: none;
  // border-bottom: 1px solid red;
}

#community-hat {
  display: none;
}

// header styles
// ====

img.logo-image {
  background: url('../img/svg/remotely-logo.svg') center no-repeat;
  background-size: contain;
}

#user-dd.button {
  border: 1px solid $color-remotely-gray;
}

// nav styles
// ====

.web-menu.nav-bar {
  list-style-type: none;
  background: $color-remotely-primary;
  border:none;
  box-shadow: none;
  border-radius: 3px;
}

// .nav-bar > li.special-button a,
a.special-button,
input.special-button[type="button"],
input.special-button[type="submit"] {

  background: $color-remotely-accent;
  box-shadow: none;
  border:0;
  // display: inline-block;
  // margin: 11% 12px auto 15px;
  // height: 100%;
  // margin-top: 11%;
}

.button.special-button:focus,
.button.special-button:hover,
.button.special-button:active {
  // background: shade($color-remotely-accent, 5%);
  background: #22bfe6;
}
// a.special-button {
//   background: #90C872;
//   box-shadow: none;
//   border:0;
//   display: block;
//
//   &:hover {
//     background: #000;
//     // background: shade(#90C872, 2%);
//   }
// }

.nav-bar > li.special-button {
  margin: 0;

  a {
    background: none;
    box-shadow: none;
    text-shadow: none;
    border:0;
    display: block;
    margin: 11% 12px auto 15px;
  }
}

// .nav-bar {
  // list-style-type: none;
// }

.nav-bar > li {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;

  &:last-child {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    // height: 100%;
    margin-top: 12px;
    text-shadow: none;
  }
}

.nav-bar > li:hover,
.nav-bar > li.active,
.nav-bar > li.active:hover,
.nav-bar > li.special-button:hover {
  background: lighten( $color-remotely-primary, 10% );
  border-radius: 0;
}

.flyout {
  background: none;
  top: 62px;
}

li.has-flyout ul.flyout li:last-child {
  margin-bottom: 0;
}

ul.flyout li a,
.nav-bar li ul li a {
  background: lighten( $color-remotely-primary, 10% );
  &:hover {
    background: lighten( $color-remotely-primary, 0% );
  }
}


// ====
// ====


.homepage {
  .tab-vert-col {
    // padding-right: 0;
  }
}

.tabs-content {
  min-height: 400px;
  height: auto;
}

.automation dl.tabs dd.active {
  background: none;
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

dl.tabs.vertical dd.active a {
  // border-radius: 0;
}

.automation dl.tabs.vertical dd.active a.devicesTab-vert,
.automation dl.tabs.vertical dd.active a.messagesTabs-vert {
  // background-color: $color-remotely-gray;
  background-color: #e97666;
}

.homepage.payrent .panel {
  // background: none;
  border: 1px solid HSLA(202, 14%, 85%, 1);
}

.automation .panel {
  // background: none;
  border: 1px solid HSLA(202, 14%, 85%, 1);
  padding-bottom: 0;
  // background: HSLA(202, 14%, 85%, 1)
  // border: none;
}

.panel {
  background: tint(#D4DBDE, 70%);
}

.automation .tabs-content {
  padding: 0;
  box-shadow : none;
}
.automation {
  .device-list-wrapper {
    padding: 0;
  }
  .device-list-main {
    margin: 0;
    border-left: 1px solid HSLA(202, 14%, 85%, 1);
    li:last-of-type {
      border-bottom: 0;
    }
  }
  .device-list {
    // border-left: 1px solid HSLA(202, 14%, 85%, 1);
  }
}

#device-list {
  ul.device-list-main {
    margin: 0;
    border-left: 1px solid HSLA(202, 14%, 85%, 1);

    li {
      padding-left: 20px;
    }

    li:last-of-type {
      border-bottom: 0;
    }
  }
}

#device-list ul.temp-control li.temp-up:before {
  margin-left: -60px;
}

#device-list h4 {
  padding-left: 44px;
}


h4 span,
#device h4 span,
.reveal-modal h4 span {
  display: inline-block;
  height: 28px;
}

.device-list-title {
  margin: 0;
  border-radius: 0;
  background: HSLA(198, 13%, 85%, 1);
}

.page-border {
  display: none;
}

.phone-menu {
  display: none;
}


.automation.detail .panel .panel.white-box {
  box-shadow:none;
  background: none;
  // background: tint(#D4DBDE, 70%);
}

.homepage .tabs-content {
  background: none;
  box-shadow: none;
}

.settings .tabs-content {
  background: none;
  box-shadow: none;
}

dl.tabs.vertical,
dl.tabs {
  dd.active {
    background: none;
    box-shadow: none;

    a {
      background-color: #e97666;
      @extend .radius;

      &:hover {
        border-bottom: none;
      }
    }
  }
}

// dl.tabs dd.active {
//   background: none;
//   box-shadow: none;
//
//   a,
//   a:hover {
//     background: $color-remotely-primary;
//     border-bottom: none;
//   }
// }

dl.tabs dd a {
  &:hover {
    // background: tint($color-remotely-gray, 10%);
    border-bottom: 4px solid tint($color-remotely-gray, 10%);
  }
}

.detail #timers h6, .detail #device-events h6 {
  background: tint(#D4DBDE, 70%);
}

.show-for-small.logo-m-container {
  display: none !important;
}
.mobile-menu-container {
  background: $color-remotely-primary no-repeat;
  background-image: url('../img/svg/remotely-logo-small.svg');
  background-position: 4% center;
  background-size: auto 60%;
}
.mobile-menu {
  background: $color-remotely-primary;
}

div.alert-box,
div.review {
  background: tint($color-remotely-accent, 80%);
  border-color: tint($color-remotely-accent, 50%);
}

div.alert-box.alert {
  border-width: 0;
  background: #f8d8cd;
  text-shadow: none;
}

div.alert-box.secondary {
  // border-width: 0;
  background: #def1f6;
}

// sign in page

// #sign-in .mast-head {
//   background: $color-remotely-primary;
//   border-radius: 3px 3px 0 0;
// }

#sign-in .mast-head,
#sign-in .mast-head-reset,
#sign-in.contact-form-step-1 .mast-head,
#sign-in.contact-form-step-2 .mast-head,
#sign-in.contact-form-step-3 .mast-head {
  // background: $color-remotely-primary;
  border-radius: 3px 3px 0 0;
}


// #sign-in.contact-form-step-1 .mast-head {
//   background: $color-remotely-primary;
//   border-radius: 3px 3px 0 0;
// }

img.logo-reversed-lrg {
  @extend .logo-image;
}

body#sign-in {
  background: #FFF;
}

#sign-in #footer, #sign-in footer {
  background: #FFF;
}

#sign-in .dark-round-link {
  // background: $color-remotely-gray;
  background: tint(#D4DBDE, 70%);
  border: 1px solid HSLA(202, 14%, 85%, 1);
  margin-top: 10px;
}

// mobile

.mobile-menu .nav-bar > li:hover,
.mobile-menu .nav-bar > li.active {
  background: lighten( $color-remotely-primary, 10% );
  border-color: darken($color-remotely-primary, 15%);
}

.mobile-menu ul.nav-bar li {
  border-color: darken($color-remotely-primary, 15%);
}

#menu-mini li a.button.small.show_hide {
  border: none;
  box-shadow: none;
  background: tint($color-remotely-primary, 10%);
}

#menu-mini li a.button.small.special-m {
  background: none;
  box-shadow: none;
  border: none;
  background: tint($color-remotely-primary, 10%);
  text-shadow: none;
}

.sign-out-m {
  margin: 20px 0;
}

.homepage dl.tabs.show-for-small dd.active {
  background-color: transparent;
  box-shadow: none;

  a.devicesTab-hor {
    background-color: #e97666;
    border: none;
  }
}

.homepage dl.tabs.show-for-small dd {
  background: none;
  box-shadow: none;
}

#edit-state input[type="button"].edit-done {
  color: $color-remotely-primary;
}


div.review {
  box-shadow: none;
}

div.review img.arrow-left-panel,
.payrent div.review img.arrow-left-panel {
  opacity: 0;
  background: none;
  display: none;
}

ul.pagination li.current a {
  background: $color-remotely-primary;

  &:hover {
    background: $color-remotely-primary;
  }
}


a.notifications-unread {
  background-color: transparent;
  box-shadow: none;
}

#sign-in .breadcrumbs.progress {
  height: 42px;
}

.breadcrumbs.progress li {
  color: #666;
}

.breadcrumbs.progress li.active {
  color: #333;
}

// .breadcrumbs.progress li > span {
//   background-color: tint($color-remotely-primary, 20%);
//   border-color: shade($color-remotely-primary, 5%);
// }

div.alert-box.success {
  background: #E5F1DD;
  border: none;
}

#device h4.outlet span {
  background-position: 0 -198px;
}

.motion-list .event-outlet span.motion-then {
  background-position: 0 -196px;
}

.motion-list span.event {
  background-position: 3px -1592px;
}

.motion-list span.motion-if {
  background-position: 0 -1479px;
}

#device h4.multi span {
  background-position: 0 -1867px;
}

#device h4.fob span {
  background-position: 0 -1933px;
}

h4 span, #device h4 span,
.reveal-modal h4 span {
  height: 30px;
}

#device h4.door-lock span {
  background-position: 0 -137px;
}

//
@media only screen and (max-width: 767px) {
//   .show-for-small,
//   .hide-for-medium,
//   .show-for-medium-down,
//   .hide-for-large,
//   .hide-for-large-up,
//   .hide-for-xlarge {
//     display: block !important;
//   }
  .automation .panel {
    border: none;
  }
}
